---
http_interactions:
- request:
    method: get
    uri: https://neocities.org/api/info?sitename=areast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "result": "success",
          "info": {
            "sitename": "areast",
            "views": 27,
            "hits": 121,
            "created_at": "Sat, 27 Dec 2025 09:32:05 -0000",
            "last_updated": "Tue, 30 Dec 2025 12:47:17 -0000",
            "domain": null,
            "tags": [
              "are"
            ]
          }
        }
  recorded_at: Fri, 02 Jan 2026 12:16:13 GMT
recorded_with: VCR 6.4.0
